[Unit]
Description=Basecamp Pi-Sat Service
Requires=network.target
Wants=network-online.target
After=network-online.target

[Service]
Type=idle
User=pi
ExecStart=/usr/bin/python3 /home/pi/adafruit/discrete_demo.py

[Install]
WantedBy=multi-user.target
